/* D:\competitions\hackathon_fall_2025\ca_nhan_2\static\styles.css */

.stApp {
    background-color: #FFFFFF;
    color: #333333;
}

.stCodeBlock {
    background-color: #F7F7F7;
    border-radius: 6px;
    padding: 10px;
    color: #333333;
}

.stButton>button {
    background-color: #007ACC;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-weight: 500;
}

.stButton>button:hover {
    background-color: #005A9E;
}